<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key ="Mode" value ="Daily"/>-->
    <add key ="Mode" value ="Interval"/>
    <add key ="IntervalMinutes" value ="1"/>
    <add key ="ScheduledTime" value ="18:41"/>

    <add key="WebServicesOption" value="Api" />
    <add key="WebServicesTimer" value="No" />
    
    <add key="ActivityLogWSBaseUrl" value="http://services.worldemblem.com/ActivityLogApiService/"/>
    <add key="ActivityLogWSSuffixUrl" value="api/ActivityLog"/>

    <add key="WindowsServiceLog" value="C:\WSPSync_ServiceLog.txt" />
    <add key="ServiceID" value="15" />
  </appSettings>
  <connectionStrings>
    <add name="NameSys.Properties.Settings.SqlMainNewDB" connectionString="Data Source=SQLMAINNEW;Initial Catalog=TrackingSystemDev;User ID=sa;Password=macola;Application Name=SyncWSPWindowsService; Connection Timeout=60" providerName="System.Data.SqlClient" />
    <!--<add name="NameSys.Properties.Settings.CatalogDB" connectionString="Data Source=10.0.0.17;Initial Catalog=&quot;web - ecommerce - wei - test&quot;;Persist Security Info=True;User ID=wei_sync_products;Password=wei_sync_products001;MultipleActiveResultSets=True;Application Name=namesys" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>